{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Вход</title>
        <link rel="stylesheet" href="{% static 'style/style_promo.css'%}" />
        <link rel="icon" type="image/png" href="{% static 'icon/favicon-16x16.png' %}" sizes="16x16">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon/apple-icon-120x120.png'%}">
    </head>
    <body style="display: flex;flex-direction: column; justify-content: center; align-items: center;">
        <form method="post">
            {% csrf_token %}
            
            {{ form }}
            
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </form>
    </body>
</html>